%h1 congresistas de la republica

%aside
  = render :partial => 'shared/congresistas_aside'


%section
  %article
    %h2 integrantes m&aacute;s comentados

  = render :partial => 'representante', :collection => @representantes