%h1
  Congresistas de la República

%aside
  = render :partial => 'shared/congresistas_aside'


%section
  %article
    %ul.iniciales
      - ('A'..'Z').to_a.each do |initial|
        %li= link_to initial, search_representative_path(:search => {:initial => initial})
    %h2 Congresistas m&aacute;s comentados

  = render :partial => 'representante', :collection => @representantes