.page-header
  %h2 Grupos Parlamentarios

= link_to 'Nuevo Grupo Parlamentario', new_admin_political_party_path  , :class => [:btn, :primary]
%br
%br

%table.zebra-striped
  %thead
    %tr
      %th Nombre
      %th
      %th

  %tbody
    = render @political_parties

= paginate @political_parties