@import "compass";
@import "compass/reset";
@import "compass/utilities";
@import "compass/css3";
@import "blueprint";

body > .container, .container-fluid { padding-top: 50px !important}

html {
  background: url("/assets/front/background.png") repeat;
  background: url("/assets/front/header-bk.png") repeat-x, url("/assets/front/background.png") repeat;
}

body {
  @include oswald-font($dark-gray, 14px);
  background: url("/assets/front/footer-bk.png") repeat-x center bottom ;
}

a {
  @include oswald-font($dark-gray, 14px);
}

.ie #container { margin-top: -140px;}

.ie #div-header {
  background: url(/assets/front/header-bk.png) repeat-x 0px 0px;
  height: 140px;
  width: 100%;
}

.first {
  margin-left: 0;
}

span {
  &.button-up {
    background: url(/assets/front/up.png) no-repeat;
    display: inline-block;
    height: 25px;
    margin: 0 100px;
    width: 30px;
  }

  &.button-down {
    background: url(/assets/front/down.png) no-repeat;
    display: inline-block;
    height: 25px;
    margin: 0 100px;
    width: 30px;
  }
}
.error { border: 1px solid red !important;}

#container {
  @include column(24,true);
  float:none;
  display:block;
  margin:0 auto;
}

h1 {
  @include oswald-font($white, 36px);
  background: url("/assets/front/top-bg.png") no-repeat;
  margin: 20px 0 0 0;
  padding: 5px;
}

h2 {
  @include oswald-font($dark-grayish-cyan, 18px);
  border-bottom: 0;
  margin: 20px 10px 10px 20px;
  padding: 0 0 5px;

  &.estrella {
    @include oswald-font($dark-gray, 18px);
    background: url('/assets/front/star-blue.png') no-repeat;
    border-bottom: 1px solid $dark-gray;
    padding-left: 30px;
  }

  article & {
    margin: 20px 10px 10px 0px;
  }
}

h3 {
  font-size: 24px;
}

h4 {
  border-bottom: 1px solid $grayish-cyan;
  color: $grayish-cyan;
  font-size: 14px;
  padding: 10px 0 5px;
  margin: 0 0 10px;
}

header {
  @include column(24,true);
  img { float: left; }
  nav {
    @include oswald-font($white, 16px);
    float: right;
    margin-top: 100px;
    ul {
      list-style: none;
      li {
        border-left: 1px solid $white;
        float: left;
        padding: 0 25px 0 5px;
        text-transform: none;
        a{
          color: $white;
        }
      }
    }
  }
}

section#main-content {
  @include column(24,true);
}

footer {
  @include column(24,true);
  @include oswald-font(12px, $dark-gray);
  margin: 20px 0 20px 0;
  ul {
    li {
      float: left;
      border-left: 1px solid $dark-gray;
      margin: 0 10px 0 0;
      padding: 10px;

      &:first-child { border: 0}

      span { display: block;}
    }
  }

  img { margin-right: 10px;}
}

.input-text {
  @include oswald-font(14px, $dark-gray);
  background-color: $light-cyanish-gray-2;
  border: 0 none;
  box-shadow: none;
  height: 30px;
  margin: 0 0 0 20px;
  padding: 5px;
}

.submit-button {
  @include oswald-font(14px, $dark-gray);
  background-color: $strong-raspberry;
  border: 0 none;
  box-shadow: none;
  height: 30px;
}

aside {
  @include column(6);
  background-color: $white;
  padding-bottom: 10px;
  min-height: 600px;

  .input {
    @extend .input-text;
    margin-bottom: 10px;
    width: 190px;
  }

  .button {
    @extend .submit-button;
    color: $white;
    margin: 5px 0 0 20px;
    width: 200px;
  }

  ul {
    &.ul-aside {
      @include oswald-font($dark-gray, 14px);
      margin: 0 0 0 20px;

      li {
        margin: 0 0 10px 0;
      }
    }
  }

  textarea { height: 100px !important; }
}

article {

  &#content {
    @include column(16, true);
    @include push(1);
    background-color: $white;
  }
}

.hide {display: none;}
.show {display: block;}
.fade {
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -ms-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
  opacity: 0;

  .in{opacity: 1;}
}

.tweet {
  margin: 0 0 0 20px;
  width: 200px;

  ul {
    li {
      border-bottom: 1px solid $dark-gray;
      margin: 10px 0 0 0;
      padding: 0 0 10px 0;
      a {
        font-size: 10px;
        text-transform: none;
      }
    }
  }
}