$dark-grey: #606060;
$grey: #cccccc;
$grey-2: #c7c5c5;
$grayish-cornflower-blue: #80adcc;
$very-dark-persian-blue: #111018;
$white: #ffffff;

$moderate-red: #a72222;
$light-yellowish-gray: #f0f0ea;
$grayish-cyan: #99cccc;
$light-cyanish-gray: #b7e1e1;
$light-gamboge: #fac87a;
$light-vermilion: #faa17a;
$moderate-red-2: #bc5555;

$dark-mulberry: #ff0000;