$white: #ffffff;
$light-cyan: #83dbdb;
$grayish-cyan: #65b6b6;
$grayish-cyan-dark: #58a1a1;
$grayish-cyan-darker: #498b8b;
$light-cyanish-gray: #b7e1e1;
$light-gray: #d4d4d4;
$strong-raspberry: #9e0039;
$moderate-red: #b74b4b;
$reddish-brownish-black: #232222;
$dark-gray: #707070;
$pale-grayish-pink: #f79ea1;
$light-cyanish-gray-2: #e7efef;
$dark-mulberry: #34193e;
$dark-grayish-cyan: #427878;