.page-header
  %h2 Nueva Iniciativa
= form_for [:admin, @initiative], :html => {:multipart => true} do |form|
  = render "admin/shared/error_messages", :target => @initiative

  = render :partial => 'form', :locals => {:form => form}
  .actions{ id: 'sendButtons'}
    = form.submit 'Crear Iniciativa', :class => 'btn btn-primary'
    %input{:type => 'reset', :class => 'btn', :value => 'Limpiar'}