.page-header
  %h2 Circunscripciónes Electoral

= link_to 'Nueva Circunscripción', new_admin_region_path  , :class => [:btn, :primary]
%br
%br

%table.zebra-striped
  %thead
    %tr
      %th Nombre
      %th
      %th

  %tbody
    = render @regions

= paginate @regions