/*
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Oswald);

@import "compass";
@import "compass/reset";
@import "compass/utilities";
@import "compass/css3";
@import 'front/colors';
@import 'front/typography';
@import 'front/base';
@import 'front/iniciativas';
@import 'front/congresistas';
@import 'front/home';
@import 'front/contacto';
@import 'front/representantes';
@import 'front/regiones';
@import 'front/comenta';
@import 'front/cms';
@import 'front/acerca_de';
@import 'comisiones';

a {
  text-decoration: none;
}

.other-email {
  display: none;
}

.sidecontentpullout {
  border: 2px solid #fff;
  padding: 5px 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: fixed !important;
}

#sidecontent_0_pullout {
  color: #fff;
  background: #3b5998;
}

#sidecontent_1_pullout {
  color: #fff;
  background: #4099FF;
}

.sidecontent {
  background: #ffffff;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-left-radius: 10px;
  position: fixed !important;
}

#sidecontent_0 {
  height: 571px !important;
}